
{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>Changer le mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Changer le mot de passe</button>
    </form>

</div>

<style>
    .card {
        width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    
    .card h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    
    table {
        width: 100%;
        margin-bottom: 20px;
    }
    
    table td {
        padding: 8px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: calc(100% - 16px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    button[type="submit"] {
        width: 100%;
        background-color: #4267B2;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #405d9b;
    }
    
    div small {
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 5px;
        border-radius: 4px;
    }
    
    </style>
    {% endblock %}
    